[Unit]
Description=docker image monitoring service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/dim-monitor
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
